* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    margin-left: 2%;
}

body {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
}

.container {
    display: flex;
    padding: -1;
}

.left-section {
    background: #fff;
    flex: 20;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    margin: 1.4%;
}


.right-section {
    height: auto;
    flex: 80;
    margin: 10px;
}

.filter-container {
    padding: 10px;
}

.filter-container p {
    text-align: center;
}

.filter-container hr {
    margin-left: 10%;
    margin-right: 10%;
}

.filter-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-list-container button {
    flex-basis: 30%;
    height: 40px;
    background: #8bc4578c;
    margin: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.filter-list-container button strong {
    position: relative;
    left: 21%;
    top: 10px;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-container .no-result{
  position: relative;
  top: 100px;
  left: 40%;
  font-size: 26px;
  font-weight: 300;
  background: #cec9c963;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.content-container .item {
    flex-basis: 23%;
    height: auto;
    background: #fff;
    border: 11px solid #fff;
    margin: 1% 1% 0px 1%;
    padding: 2px;

}

.content-container .item .img-container {
    width: 100%;
    height: 200px;
    background: url('https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png') no-repeat center center;
    background-size: contain;
    background-color: #ebeaea;
}

.content-container .item p {
    color: #2a36c8;
    padding-top: 0;

}
.content-container .item  ul {
    margin: 0;
    padding: 0;
    position: relative;
    left: 10%;
    color: #2a36c8;
    width: 90%;
}

.content-container .item p .heading {
    color: #000
}

footer {
    text-align: center;
}

/*  // For Mobile View */
@media only screen and (max-width: 700px) {
    body{
      margin: revert;
      margin-left: 5%;
    }
    .container {
        display: block;
        position: relative;
        left: -3%;
    }

    .left-section {
        width: 100%;
    }

    .right-section {
        width: 100%;
    }

    .content-container {
        display: block;
        position: relative;
        left: -2%;
    }

    .content-container .item {
        width: 100%;
        padding: 4px;
    }

    .content-container .item .img-container {
        width: 100%;
        height: 300px;
    }
    .content-container .no-result{
      left: -2%;
      top: 0%;
    }
    .content-container .item p{
      padding-top: 0%;
    }

}

/*  // For Tablet View */
@media only screen and (min-width: 700px) and (max-width: 1024px)  {
  .left-section{
    flex :30;
  }

  .right-section{
    flex :70;
  }
  .content-container .item{
    flex-basis: 48%;
  }
  .content-container .no-result{
    left:25%;
  }
  .content-container .item p{
    padding-top: 0%;
  }

}


/********** Loading CSS **************/
div.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bf
  }
  
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-ms-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .uil-ring-css {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
  }
  .uil-ring-css > div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 #ffffff;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
  }